# =============================================
# .env.example — Modèle de configuration
# Copiez ce fichier en .env et renseignez vos valeurs
# =============================================

PORT=3001
MONGO_URI=mongodb://127.0.0.1:27017/portfolioDB
NODE_ENV=development
